**/__pycache__/
logs/*
experiments/logs
!logs/.gitkeep
.vscode/
*.egg-info/
eggs/
.eggs/
*.egg
**.egg
/build
docs/build
_build/
# **/build/
**/.DS_Store

# dist/
# dist/*

.idea/


**/cache/


world_instances/.*.running/

apikeys.txt
