.wall-div {
    /* position: relative; */
    /* background-color: #f0f0f0; */
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
  }

  .wall-topborder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid rgb(78, 78, 78);
    z-index: 5;
  }
  
  .wall-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; /* 根据您的图像调整高度 */
    background: url('../assets/top.png') repeat-x;
    background-size: 50px 50px; /* 设置背景图像的宽度和高度 */
    z-index: 1;
    background-position: 20px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  .wall-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px; /* 根据您的图像调整宽度 */
    height: 100%;
    background: url('../assets/side.png') repeat-y;
    background-size: 20px 50px; /* 设置背景图像的宽度和高度 */
    background-position: 0 -2px;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .wall-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px; /* 根据您的图像调整宽度 */
    height: 100%;
    background: url('../assets/side.png') repeat-y;
    background-size: 20px 50px; /* 设置背景图像的宽度和高度 */
    z-index: 1;

  }
  
  .wall-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px; /* 根据您的图像调整宽度 */
    height: 50px; 
    background: url('../assets/corner.png') no-repeat;
    background-size: 20px 50px; /* 设置背景图像的宽度和高度 */
    z-index: 3;

  }
  
  .wall-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px; /* 根据您的图像调整宽度 */
    height: 50px; 
    background: url('../assets/corner.png') no-repeat;
    background-size: 20px 50px; /* 设置背景图像的宽度和高度 */
    z-index: 3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }
  